.positionedLogo{
    position: relative;
    margin-left:auto;
    margin-right: auto;
    display: block;
    text-align: center;  
    width: 50%;
    height: auto;
}

.titlepos{
    position:relative;
    padding-top: 5%;
    margin-bottom: 5%;
}
.posModules{
    position: relative;
}

.posModules .card {
    margin: 0 auto;
    margin-bottom: 5px;
}

.card-body {
    text-align: center;
}

.card-img-top {
    object-fit: cover;
    height: 30vh;
}

.logo{
    max-width: 100%;
    width:100%;
    height: auto;
}