.searchCard {
    width: 100%;
    background:linear-gradient(rgba(250,0,0,0.5),transparent);
}

.borderedHeader {
    overflow: hidden;
    text-align: center;
}

.borderedHeader:before,
.borderedHeader:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.borderedHeader:before {
    right: 0.5em;
    margin-left: -50%;
}

.borderedHeader:after {
    left: 0.5em;
    margin-right: -50%;
}

.searchHighlight {
    background-color: yellow;
}